<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list *ngFor="let todo of todos">
    <ion-item>
      <ion-label>{{todo.title}}</ion-label>
      <ion-badge [color]="todo.completed ? 'success' : 'warning'">{{todo.completed ? "Complete" : "Pending"}}</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
